.about {
    padding: var(--padding-space-section-1);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.about-h1 {
    text-transform: uppercase;
}

.about-p {
    margin-top: 30px;
}

.about-img {
    width: 80%;
    justify-self: end;
    animation: aboutImgAnimation 3.1s infinite;
}

.about-button {
    margin-top: 30px;
}

@keyframes aboutImgAnimation {
    0% {
        transform: translateY(0px);
    } 
    50%{
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}