.about {
    padding: var(--padding-space-section-1);
}

.about-texts {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.about-h1 {
    text-transform: uppercase;
}

.about-img {
    width: 50%;
    justify-self: end;
    animation: aboutImgAnimation 3.1s infinite;
    height: fit-content;
}

.about-button {
    margin-top: 30px;
}

@keyframes aboutImgAnimation {
    0% {
        transform: translateY(0px);
    } 
    50%{
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}