.home {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../../img/background-plans-02.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
    width: 100%; 
}

.home-h1 {
    font-size: 40px;
    color: var(--just-blue);
    margin-bottom: 20px;
    z-index: 2;
    text-shadow: 1px 1px 3px black;
}

.home-p {
    font-size: 20px;
    z-index: 2;
    color: var(--lightest-blue);
    text-shadow: 1px 1px 2px black; 
}

