.plans-h1-above {
    background-color: var(--dark-blue);
    color: white;
    display: inline-block;
    padding: 20px;
    font-size: 22px;
    text-align: center;
    width: 100%;
}

.plans-button {
    background-color: var(--dark-blue);
    color: white;
    display: inline-block;
    padding: 20px;
    font-size: 22px;
    width: 100%;
    border: none;
    text-align: center;
}

.plans-div {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    width: 100%;
    background: #000000de;
}

.plans-div p {
    padding: 15px;
    color: white;
    text-shadow: 1px 1px 0.2px black;
}

.plans-div p:last-child {
    margin-bottom: 25px;
}

.plans-div .plans-div-h1 {
    background-color: unset;
    padding: 5px 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    font-size: 35px;
    color: rgb(255, 255, 255);
    text-shadow: 0.7px 0.7px 1.5px  black;
}

.plans {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    min-height: fit-content; /* just for development */
    column-gap: 10px;
    background: none;
    padding: var(--padding-space-section-1);
}

.background-plans {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: -3;
}

.plans-filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(37, 84, 105, 0.678);
    z-index: -2;
}
