@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --lightest-blue: rgb(212, 241, 244);
    --light-blue: rgb(117, 230, 218);
    --just-blue: rgb(24, 154, 180);
    --lightest-dark-blue: rgb(9, 129, 181);
    --light-dark-blue: rgb(37, 84, 105);
    --dark-blue: rgb(5, 68, 94);
    --padding-space-section-1: 80px;
}

body {
    font: normal 15px "Poppins";
}

a {
    text-decoration: none;
    color: var(--lightest-blue);
}

section, footer { /* Temporary for initial development */
    min-height: 100vh;
    background: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    letter-spacing: 3px;
}

/* Top menu style */

.top-menu {
    display: flex;
    width: 100%;
    max-width: 100%;
    padding: 30px;
    justify-content: space-between;
    background-color: var(--dark-blue);
}

.nav-menu a {
    position: relative;
    padding: 5px 10px;
}

.nav-menu a::after {
    content: '';
    position: absolute;
    width: 0%;
    background-color: transparent;
    height: 4px;
    bottom: -5px;
    left: 50%;
    transition: width .4s, left .4s, background-color .4s;
}

.nav-menu[no-smooth] a::after {
    background-color: var(--lightest-blue);
}

.nav-menu a:hover::after {
    width: 100%;
    left: 0%;
    background-color: var(--lightest-blue);
}

/* Top menu style */

/* Generic styles */

.styled-button {
    padding: 10px 15px;
    border: none;
    background-color: var(--dark-blue);
    color: #fff;
}

/* Generic syles */